.pageContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 320px;
  width: 100%;
}

.pageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
}

.title {
  font-size: 40px;
}

.getStartedButton {
  background-color: var(--clr-secondary);
  color: white;
  font-size: 32px;
  font-weight: bold;
  width: 312px;
  height: 62px;
  border-radius: var(--border-radius-16);
}

.getStartedButton:hover {
  transition: background-color 0.3s ease;
  background-color: var(--clr-secondary-light);
}